body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    
}
.logo {
    flex: 1;

}

.menu {
    flex: 2;
    display: flex;
}
.menu  li{
    padding: 0 12px;
    list-style: none;
}
.menu li a{
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.others {
    flex: 2;
    display: flex;
    
}
.others  li{
    padding:  5px;
    list-style: none;

}
.others li a{
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.containerfull,
.row {text-align: center;
    float: left;
    width: 100%;
}

.containerfull img,
.boxleft img,
.boxright img,
.boxnews {
    width: 100%;
}

.container2 {
    width: 700px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container2 .box3 {
    float: left;
    width: 33.33%;
    text-align: center;
}

.padd20 {
    padding: 15px 0px;
}

.padd50 {
    padding: 50px 0px;
}

.box50 {
    float: left;
    width: calc(50% - 30px);
}

.box25 {
    float: left;
    width: 25%;
    width: calc(25% - 30px);
    position: relative;
}

.best {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url("images/best-seller.png");
    background-size: 100%;
}

.box50 img,
.box25 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999999;
}

section,
.mr30 {
    margin: 30px 0px;
}

.mr15 {
    margin-right: 30px;
}

.mr5pt {
    margin-right: 5%;
}

.mr2pt {
    margin-right: 2%;
}

.boxnews {
    float: left;
    width: calc(33.33% - 2%);
}

.boxnews img {
    border-radius: 10px;
}

.bg1 {
    background-color: #7d7b74;
}

footer {
    float: left;
    width: 100%;
    background-color: #333333;
    text-align: center;
    color: #FFFFFF;
}

.boxleft {
    float: left;
    width: 45%;
}

.boxright {
    float: left;
    width: 48%;
}

.boxleft_bgw {
    float: left;
    width: 35%;
}

.boxright_bgw {
    float: left;
    width: 60%;
}

.boxleft_bgw_left {
    float: right;
    width: 80%;
    margin-top: 25%;
}

p {
    text-align: justify;
    line-height: 150%;
    color: #666666;
}

button {
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: bold;
    width: 100%;
    border: 1px #FFFFFF dotted;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #333333;
}

h1 {
    text-align: center;
    font-size: 24pt;
    margin: 0px;
}

h2 {
    font-size: 18pt;
    padding-left: 10px;
    color: #444444;
    border-left: 4px #333333 solid;
}

.price {
    text-align: center;
    color: #333333;
    font-size: 12pt;
    float: left;
    width: 100%;
    padding: 8px 0px;
}

a {
    color: #333333;
    font-size: 13pt;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

.boxleft {
    float: left;
    width: 20%;
}

.boxright {
    float: left;
    width: 78%;
}

.mb {
    margin-bottom: 50px;
}

.menutrai a {
    display: block;
    width: 100%;
    color: #333333;
    font-size: 13pt;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #CCC dotted;
}

.menutrai a:hover {
    color: #000000;
}
.boxtrai1{
    margin-top: 20px;
    width: 49%;
    float: left;
    padding-left: 20px;
}
.boxphai1{
    margin-top: 20px;
    width: 49%;
    float: right;
    margin-right: 10px;
    
}
.price1{
    margin-top: 10px;
    font-size: large;
    color: #333333;
    
}
input[type="button"], 
input[type="reset"]{
    height: 30px;
    width: 20%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    border: 1px solid #333333;
    margin-top: 20px;
}
.table{
    border: #c9c8c5 1px solid;
    font-size: small;
    padding-left:20px ;
    margin-bottom: 10px;
}
.tieude{
    text-align: center;
}
.chungnhan{
    text-align: center;
}
.camket{
    display: flex;
    text-align: center;
    padding-left: 30px;
    margin-top: 20px;
    border: #c9c8c5 1px solid;
}
.ck{
    margin: 20px 10px ;
}
.p10{
    padding-top: 10px;
}
.menu2 {
    flex: 4;
    display: flex;
}
.menu2  li{
    padding: 0 12px;
    list-style: none;
}
.menu2 li a{
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.others2 {
    flex: 2;
    display: flex;
    
}
.others2  li{
    padding:  5px;
    list-style: none;

}
.others2 li a{
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mb10{
    margin-bottom: 10px;
}
.frmdsloaihang table{
    width: 100%;
    border-collapse:collapse ;
    border: 1px #999 solid;
}
.frmdsloaihang table th{
    
    background-color: #ccc;
    padding: 20px ;
}
/* .frmdsloaihang table th:nth-child(2){
    width: 30%;
    background-color: #ccc;
}
.frmdsloaihang table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
}
.frmdsloaihang table th:nth-child(4){
    width: 20%;
    background-color: #ccc;

} */
.frmdsloaihang table td{
    padding: 10px 20px;
    border: 1px #ccc solid;

}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 70%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.others li form{
    display: flex;
}
input[type="submit"]{
    height: 30px;
    width: 30%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.boxleft2 {
    float: left;
    width: 60%;
}
.boxright2 {
    float: left;
    width: 30%;
}
.col9 {
    float: left;
    width: 70%;
}
.viewcart table {
    width: 95%;
    border-collapse: collapse;
}

.viewcart table tr th {
    background-color: #CCC;
}
.ttdathang{
    float: left;
    width: 90%;
    margin-bottom: 30px;
}
.col3 {
    float: left;
    width: 30%;
}
.boxcart{
    border:1px #ccc solid;
    padding: 10px;
    margin-bottom: 20px;
}
.container3{
    
        width: 1200px;
        margin: 0 auto;
    
}
.bd{
    border: #444444 1px solid;
}